* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    flex-direction: column;
    /* justify-content: space-around; */
    background: url(design-assets/bgk-header.png);
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    align-items: center;
}

.logo-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    gap: 30px;
    height: 10%;
}

.logo-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    color: white;
    gap: 30px;
    font-weight: 500;
    font-size: 16px;
}

.logo {
    flex: 1;
}

.logo-name {
    color: aqua;
    font-weight: lighter;
    font-size: 36px;
    opacity: 50%;
}

.menu {
    cursor: pointer;
}

.menu>ul>li:hover {
    color: turquoise;
}

.header-heading {
    font-family: 'Times New Roman', Times, serif;
    font-size: 36px;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
    color: white;
    height: 90%;
    font-size: 16px;

}

.button-learn {
    width: 150px;
    padding: 10px;
    background-color: transparent;
    border-color: turquoise;
    border-radius: 5px;
    color: turquoise;
    justify-content: center;
    cursor: pointer;
}

.button-learn:hover {
    color: white;
    background-color: turquoise;
    font-weight: 700;
}

.header-text {
    width: 700px;
    text-align: center;
    opacity: 70%;

}

hr {
    width: 50px;
    height: 1px;
    border: 5px;
    color: turquoise;
    background-color: turquoise;
}


.our-story {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 100px;
}

.story-right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.story-heading {
    font-family: 'Times New Roman', Times, serif;
}

.story-text {
    width: 600px;
    opacity: 70%;
}

.video {
    display: flex;
    background: url(design-assets/bgk-middle.png);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 10px;
    gap: 30px;
    color: white;
}

.video img {
    height: 100px;
    width: 100px;
    cursor: pointer;
}

.video-text {
    font-weight: 700;
}

.expertise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;

}

.expertise-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

}

.expertise-heading {
    font-family: 'Times New Roman', Times, serif;
}

.expertise-text {
    opacity: 70%;
}

.expertise-hr {
    width: 50px;
    height: 1px;
    border: 5px;
    color: grey;
    background-color: grey;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}

.grid-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 25px;
    text-align: center;
}

.screen {
    gap: 20px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.pen {
    gap: 20px;

    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}

.mobile {
    gap: 20px;
    border-left: solid 1px rgba(0, 0, 0, 0.2);
    border-bottom: solid 1px rgba(0, 0, 0, 0.2);
}



.graph {
    gap: 20px;
    border-right: solid 1px rgba(0, 0, 0, 0.2);

}

.gameboy {
    gap: 20px;
}

.heart {
    gap: 20px;
    border-left: solid 1px rgba(0, 0, 0, 0.2);

}

.grid-item p {
    color: grey;
}


img {
    width: fit-content;
}


.team {
    background: url(design-assets/bgk-middle.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;

}

.team-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.team-heading {
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.team-text {
    color: white;
    opacity: 70%;
}

.team-hr {
    width: 50px;
    height: 1px;
    border: 5px;
    color: grey;
    background-color: grey;
}

.members {
    display: flex;
    gap: 30px
}

.members-info>h4 {
    color: white;
    font-weight: bold;

}

.members-info>p {
    color: white;
    opacity: 70%;
    font-size: 14px;
}

.members-info {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 8px;
}

.div-img {
    width: 200px;
    height: 200px;
    background-color: white;
}

.members-item {
    display: flex;
    flex-direction: column;
    text-align: center;
    border: solid 1px rgba(255, 255, 255, 0.2);

}

.join {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.join>p {
    color: white;
}


.message-clients {
    display: flex;
    justify-content: center;
    gap: 80px;
    padding: 100px;

}

.message-heading {
    font-family: 'Times New Roman', Times, serif;

}

.message {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;

}

input,
textarea {
    width: 400px;
    padding: 10px;
    color: grey;
    border: solid 1px rgba(0, 0, 0, 0.2);
}

.clients {
    display: flex;
    flex-direction: column;
    gap: 50px;

}

.clients-heading {
    font-family: 'Times New Roman', Times, serif;

}

.grid-clients {
    width: 400px;
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr 1fr;

}

.grid-clients img {
    width: 8rem;
}

footer {
    background-image: url(design-assets/bgk-footer.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 12px;

}

.footer-upper {
    display: flex;
    flex-direction: row;
    color: white;
    padding: 30px;
    width: 1000px;
    gap: 50px;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.logo-name-footer {
    color: aqua;
    font-weight: lighter;
    font-size: 24px;
    opacity: 50%;
}

.about {
    display: flex;
    flex-direction: column;
    gap: 20px;
    opacity: 70%;
}

.our-studio {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.address {
    display: flex;
    gap: 10px;
    opacity: 70%;
}

.address img {
    width: 15px;
    height: 15px;
}

.phone {
    display: flex;
    gap: 10px;
    opacity: 70%;
}

.phone img {
    width: 15px;
    height: 15px;
}

.search {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.search-field {
    display: flex;
    gap: 5px;
}

.search-field-input {
    width: 250px;
    height: 40px;
    background-color: transparent;
    border: white 1px solid;
    opacity: 70%;
}

.search-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 40px;
    background-color: white;
    opacity: 70%;
    border: none;
    cursor: pointer;
}

.send-button {
    width: 20px;
    height: 20px;
}

.social-media {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.social-media>img {
    width: 30px;
    height: 30px;
}

.footer-lower {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    padding: 0 30px;
    padding-bottom: 20px;
    width: 1000px;
    gap: 40px;
    opacity: 70%;
}

.footer-lower-links {
    display: flex;
    gap: 10px;
    cursor: pointer;
}

.footer-lower-copyright {
    display: flex;
    cursor: pointer;
}